:root {
    --blanco: #fcfcfc;
    --negro: #202020;
  }
* {
    margin: 0;
    box-sizing: border-box;
  }
  img {
    object-fit: cover;
    max-width: 100%;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  /* Header */


.header{
    background-color: var(--negro);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* padding: 0rem 1rem 0rem 1rem; */
    align-items: center;
}
.header__general{
    fill: var(--blanco);
    width: 2rem;
    height: 1rem;
}
.header__buttons{
padding-left: 1rem;
}
.header__close{
    width: 2rem;
   height: 2rem;
}
.hidden{
    display: none;
}
.header__burguer{
   width: 2rem;
   height: 2rem;
}
.close{
    display: none;
}
.header__logo{
    width: 8.5rem;
}
.header__browser{
    padding-right: 1rem;
}
.header__search{
    
}

/* Nav */

.nav{
    width: 100%;
}
.nav__ul{
    padding-left: 1.3rem;

    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    margin-bottom: 5rem;
}
.nav__li{
    
}
.nav__link{
    color: var(--blanco);
}
.nav__logging{
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    border-top:   solid .0125rem #393939;
    padding-left: 1.3rem;
    padding-top: 1.3rem;
}
.nav__p{
    color: #e8b63e;
    font-size: 0.8rem;
}
.nav__register{
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

/* socials */

.nav__socials{
    border-top:   solid .0125rem #393939;
    padding: 1rem 1.3rem 1rem 1.3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.svg__socials{
    fill: #727272;
    width: 1.1rem;
    height: 1.1rem;
}